* {
    background-color: rgb(194, 187, 187);
    margin: 0;
    padding: 0;
}

header{
    background-color: antiquewhite;
    overflow: hidden
}

section.TestBox_1{
    background-color: aliceblue;
    margin: 30px;
    padding: 20px;
}